.hero {
  @media screen and (max-width: $desktop) {
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  @media screen and (max-width: $desktop) {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
}

.hero__button {
  @media screen and (max-width: $desktop) {
    min-width: 216px;
  }
}
