.nav {
  @media screen and (min-width: $mobile) {
    display: none;
  }
}
.nav__list {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
.nav__list-contact {
  @media screen and (max-width: $mobile) {
    display: none;
  }
  @media screen and (min-width: $mobile) {
    display: none;
  }
}
